body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#main{
    width: 600px;
   
    background-color: rgb(255, 245, 240);
    border: 5px solid rgb(215, 146, 147);
    border-radius: 5px;     
    padding : 20px 20px    
}

.productList {
    margin-top: 20px;

}

 h4 {
    background-color: rgb(247, 151, 151);
    border-radius: 20px;
}

h3{
    background-color: rgb(199, 199, 199);
    border: solid 2px black;
    border-radius: 20px;
}

.Food div{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f2d8e2;
    border: 3px solid #3b2a2e; 
    padding: 5px;
    border-radius: 6px;
    display: grid;
    gap: 4px;
 
 }

 .Electronics div{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f2d8e2;
    border: 3px solid #3b2a2e; 
    padding: 5px;
    border-radius: 6px;
    display: grid;
    gap: 4px;
 
 }

 .SkinCare div{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f2d8e2;
    border: 3px solid #3b2a2e; 
    padding: 5px;
    border-radius: 6px;
    display: grid;
    gap: 4px;
 
 }

 .fa-solid:hover {
     
     transform: scale(1.5);

 }